{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}

{{ adminHeader() }}
<h3>
    <span class="fa fa-gears"></span>&nbsp;{{ __('Reload all core releases') }}
</h3>
<p class="alert alert-warning">
    {{ __('You are about to reload all core releases from GitHub. Are you sure you want to proceed?') }}
</p>
{% if app.request.locale != 'en' %}
    <p class="alert alert-danger">
        {{ __('You should switch to English language to prevent translation problems!') }}
    </p>
{% endif %}
{{ form_start(form) }}
{{ form_errors(form) }}
    <div>
        {{ form_row(form.createnews) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                <a class="btn btn-danger" href="{{ path('zikulacoremanagermodule_admin_index') }}" title="{{ __('Cancel') }}"><i class="fa fa-times"></i> {{ __('Cancel') }}</a>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{{ adminFooter() }}
