{{ pageSetVar('title', __('Core releases')) }}
<h3><i class="fa fa-th-list"></i> {{ __('Core releases') }}</h3>
{% set isAdmin = hasPermission('ZikulaCoreManagerModule::', '::', 'ACCESS_MODERATE') %}
{% set amountOfColumns = isAdmin ? 5 : 3 %}
<div class="table-responsive">
<table class="table table-striped table-hover">
    <colgroup>
        {% if isAdmin %}<col id="cId" />{% endif %}
        <col id="cVersion" />
        <col id="cName" />
        <col id="cState" />
        {% if isAdmin %}<col id="cActions" />{% endif %}
    </colgroup>
    <thead>
    <tr>
        {% if isAdmin %}<th id="hId" scope="col">{{ __('Id') }}</th>{% endif %}
        <th id="hVersion" scope="col">{{ __('Version') }}</th>
        <th id="hName" scope="col">{{ __('Name') }}</th>
        <th id="hState" scope="col">{{ __('State') }}</th>
        {% if isAdmin %}<th id="hActions" scope="col">{{ __('Actions') }}</th>{% endif %}
    </tr>
    </thead>
    <tbody>
    {% set outdated = constant("Zikula\\Module\\CoreManagerModule\\Entity\\CoreReleaseEntity::STATE_OUTDATED") %}
    {% set supported = constant("Zikula\\Module\\CoreManagerModule\\Entity\\CoreReleaseEntity::STATE_SUPPORTED") %}
    {% set prerelease = constant("Zikula\\Module\\CoreManagerModule\\Entity\\CoreReleaseEntity::STATE_PRERELEASE") %}
    {% set development = constant("Zikula\\Module\\CoreManagerModule\\Entity\\CoreReleaseEntity::STATE_DEVELOPMENT") %}
    {% set stateOld = -1 %}
    {% for release in releases %}
        {% if stateOld != release.state and release.state == outdated %}
            <tr>
                <td colspan="{{ amountOfColumns }}">
                    {{ __('Outdated releases:') }}
                </td>
            </tr>
        {% endif %}
        {% if stateOld != release.state and release.state == prerelease %}
            <tr>
                <td colspan="{{ amountOfColumns }}">
                    {{ __('Pre-releases:') }}
                </td>
            </tr>
        {% endif %}
        {% if stateOld != release.state and release.state == development %}
            <tr>
                <td colspan="{{ amountOfColumns }}">
                    {{ __('Development builds:') }}
                </td>
            </tr>
        {% endif %}
        <tr class="{% if release.state == prerelease or release.state == development %}danger{% elseif release.state == supported %}success{% else %}warning{% endif %}">
            {% if isAdmin %}<td headers="hId" style="cursor: pointer" data-toggle="modal" data-target="#el-download-release-modal-{{ loop.index }}">{{ release.id }}</td>{% endif %}
            <td headers="hVersion" style="cursor: pointer" data-toggle="modal" data-target="#el-download-release-modal-{{ loop.index }}">{{ release.semver }}</td>
            <td headers="hName" style="cursor: pointer" data-toggle="modal" data-target="#el-download-release-modal-{{ loop.index }}">{{ release.nameI18n }}</td>
            <td headers="hState" style="cursor: pointer" data-toggle="modal" data-target="#el-download-release-modal-{{ loop.index }}">{{ release.state|elReleaseStateToText('singular') }}</td>
            {% if isAdmin %}
                <td headers="hActions" class="text-right">
                    {% if release.state == outdated or release.state == supported %}
                        <a href="{{ path('zikulacoremanagermodule_admin_togglereleasestate', {id: release.id}) }}" title="{% if release.state == supported %}{{ __('Mark release as outdated') }}{% else %}{{ __('Mark release as supported') }}{% endif %}" data-toggle="">
                            {% if release.state == supported %}
                                <i class="fa fa-arrow-down"></i>
                            {% else %}
                                <i class="fa fa-arrow-up"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {{ include('@ZikulaCoreManagerModule/User/releasedownloadmodal.html.twig', {'modalRelease': release, 'id': 'el-download-release-modal-'~loop.index}) }}
        {% set stateOld = release.state %}
    {% else %}
        <tr>
            <td colspan="{{ amountOfColumns }}">{{ __('No releases available') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
