{% set admin = hasPermission('ZikulaCoreManagerModule::', '::', 'ACCESS_MODERATE') %}
<h3>
    <span class="fa fa-th-list"></span>&nbsp;{{ __("Core releases") }}
</h3>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        {% if admin|default %}<th>{{ __('Id') }}</th>{% endif %}
        <th>{{ __('Version') }}</th>
        <th>{{ __('Name') }}</th>
        <th>{{ __('State') }}</th>
        {% if admin|default %}<th>{{ __('Actions') }}</th>{% endif %}
    </tr>
    </thead>
    <tbody>
    {% set outdated = constant("Zikula\\Module\\CoreManagerModule\\Entity\\CoreReleaseEntity::STATE_OUTDATED") %}
    {% set supported = constant("Zikula\\Module\\CoreManagerModule\\Entity\\CoreReleaseEntity::STATE_SUPPORTED") %}
    {% set prerelease = constant("Zikula\\Module\\CoreManagerModule\\Entity\\CoreReleaseEntity::STATE_PRERELEASE") %}
    {% set development = constant("Zikula\\Module\\CoreManagerModule\\Entity\\CoreReleaseEntity::STATE_DEVELOPMENT") %}
    {% set stateOld = -1 %}
    {% for release in releases %}
        {% if stateOld != release.state and release.state == outdated %}
            <tr>
                <td colspan="{% if admin|default %}5{% else %}3{% endif %}">
                    {{ __('Outdated releases:') }}
                </td>
            </tr>
        {% endif %}
        {% if stateOld != release.state and release.state == prerelease %}
            <tr>
                <td colspan="{% if admin|default %}5{% else %}3{% endif %}">
                    {{ __('Pre-releases:') }}
                </td>
            </tr>
        {% endif %}
        {% if stateOld != release.state and release.state == development %}
            <tr>
                <td colspan="{% if admin|default %}5{% else %}3{% endif %}">
                    {{ __('Development builds:') }}
                </td>
            </tr>
        {% endif %}
        <tr class="{% if release.state == prerelease or release.state == development %}danger{% elseif release.state == supported %}success{% else %}warning{% endif %}">
            {% if admin|default %}<td style="cursor: pointer" data-toggle="modal" data-target="#el-download-release-modal-{{ loop.index }}">{{ release.id }}</td>{% endif %}
            <td style="cursor: pointer" data-toggle="modal" data-target="#el-download-release-modal-{{ loop.index }}">{{ release.semver }}</td>
            <td style="cursor: pointer" data-toggle="modal" data-target="#el-download-release-modal-{{ loop.index }}">{{ release.nameI18n }}</td>
            <td style="cursor: pointer" data-toggle="modal" data-target="#el-download-release-modal-{{ loop.index }}">{{ release.state|elReleaseStateToText('singular') }}</td>
            {% if admin|default %}
                <td class="text-right">
                    {% if release.state == outdated or release.state == supported %}
                        <a href="{{ path('zikulacoremanagermodule_admin_togglereleasestate', {id: release.id}) }}" title="{% if release.state == supported %}{{ __('Mark release as outdated') }}{% else %}{{ __('Mark release as supported') }}{% endif %}" data-toggle="">
                            {% if release.state == supported %}
                                <i class="fa fa-arrow-down"></i>
                            {% else %}
                                <i class="fa fa-arrow-up"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {{ include('@ZikulaCoreManagerModule/User/releasedownloadmodal.html.twig', {'modalRelease': release, 'id': 'el-download-release-modal-'~loop.index}) }}
        {% set stateOld = release.state %}
    {% else %}
        <tr><td colspan="{% if admin|default %}5{% else %}3{% endif %}">{{ __('No releases available') }}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% if admin|default %}
    <hr />
    <div class="alert alert-info">
        {{ __('The release names and descriptions can be made multilingual, if the correct format is used at GitHub:') }}
    </div>
    <pre>...English release descripion...
# LOCALE:LOCALISED RELEASE NAME
...LOCALISED RELEASE DESCRIPTION...
# LOCALE:LOCALISED RELEASE NAME
...LOCALISED RELEASE DESCRIPTION...</pre>
{% endif %}
